*{
    margin : 0;
    padding : 0;
    color : white;
   font-family: "Roboto", sans-serif;;
}

#form{
    display : flex;
   height : 300px;
   width : 300px;
   border : 2px solid  #ffffff;
   padding : 40px 50px;
   margin-top: 8%;
  border-radius: 15px;
  box-shadow: 0 0 8px #ffffff;
  background-color: rgba(255, 255, 255, 0.3);  
}

#container{
    display:  flex;
    justify-content: space-evenly;
    background: url("mountain.jpg");
    background-size: cover;
    height : 100vh;
}


#notac{
    position : absolute;
    top : 63%;
    margin-left : 37px;
}

#login{
    display: flex;
    justify-content: center; 
    margin-left : 110px;
    top : 28px;
    position : absolute;
    top : 56%;
    border : 2px solid #fff;
    height : 38px;
    width : 300px;
    align-self: center;
    right : 39.5%;
    border-radius: 15px;
    background-color: white;
    color : black;
    font-size: 30px;
} 

   #footer {
  display: flex;
  justify-content: space-between; /* or space-evenly */
  align-items: center;
  width: 100%;
  max-width: 300px; /* optional: control the width */
  margin: auto;
  padding: 0.5rem;
  position: relative;
  top : 10rem; 
}

#checkbox{
    position: relative;
    left : 0.5rem;
}


#forget{
    position: relative;
    left : 3.5rem;
    text-decoration: none;
}

#useandpass{
    position : absolute;
    top : 15rem;
   margin : 10px;
   color : white;
   background: transparent;
}

#user{
    position: relative;
    bottom : 2rem;
     background: transparent;
     font-size:18px;
     border : none;
     color: white;
   /* padding: 8px 5px; */
   outline: none;
   width: 200px; 
   border-bottom: 2px solid white;
   
   width : 300px;
     
    
}
#pass{
    background: transparent;
    font-size: 18px;
     border : none;
     outline : none;
     border-bottom : 2px solid white;
     width  : 300px;
     color : white;
     position: relative;
     top : 2rem;
    
}


#title{
    margin-left: 110px;
    font-size: 30px;
}

input::placeholder{
    color: white;
    transition : all 0.6s ease-in;
}


input:focus::placeholder{
    transform : translateY(-20px);
}

button{
    border : none;
    color : black;
    outline : none;
    background-color: #fff;
    
}
 

#form:hover{
    box-shadow: 0 0 20px #fff;
}
